/* layout */

#foldables {
    max-width: 800px;
    padding: 1px;
    border-radius: 10px;
    margin: 10px auto;
}

#foldables>h1 {
    text-align: center;
}

#foldables>p {
    margin: 15px 6px;
}

.title-wrapper:hover {
    background-color: rgba(255,255,255,0.08);
    border-radius: 10px;
}

.title-wrapper>* {
    margin: 0px;
    padding: 5px;
}

.title-arrow {
    align-content: center;
}

section {
    border-radius: 10px;
    padding: 1px;
    margin: 1px;
}

section>p, 
section>ol, 
section>ul {
    margin-left: 5px;
}

#show-all-btn, #hide-all-btn, #recent-btn {
    user-select: none;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}

/* appearance */

body {
    background-color: #555;
}

#foldables {
    background-color: #666;
}

section {
    background-color: #777;
}

section>section {
    background-color: #888;
}

section>section>section {
    background-color: #999;
}

section>section>section>section {
    background-color: #aaa;
}

#show-all-btn, #hide-all-btn, #recent-btn {
    border: 1px solid black;
    background: none;
}